<div class="bg" style="background-color: #e4e2e2;">
  <div class="parent">
      <div class="child">
          
              <h3 style="margin-left: 65px; color :#001529">Sign Up</h3>
  
          <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">


                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="name">User Name</nz-form-label>
                  <nz-form-item>
                      
                      <nz-form-control  nzErrorTip="user name is required ...">
                         <nz-input-group nzPrefixIcon="user">
                            <input nz-input id="name"  placeholder="Enter Name ..." formControlName="name" type="text"/>
                         </nz-input-group> 
                      </nz-form-control>
                      
                  </nz-form-item>
                 
                 <!-- Email -->
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
                  <nz-form-item>
                     
                      <nz-form-control   nzErrorTip="Not Valid Email ...">
                        <input nz-input   type="email" placeholder="Enter Email ..." formControlName="email"/>
                     </nz-form-control>
                  
                  </nz-form-item>

                 <!-- Password -->
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
                  <nz-form-item>
                        
                      <nz-form-control   nzErrorTip="Please Input your Password ... ...">
                              <nz-input-group [nzSuffix]="suffixTemplate" nzErrorTip="Password Is Required ...">
                                  <input nz-input placeholder="Enter Password ..." formControlName="password" [type]="passwordVisible ? 'text' : 'password'"/>
                              </nz-input-group>
                      </nz-form-control>
                  
                  </nz-form-item>
                      
                          <ng-template #suffixTemplate>
                          <span
                              nz-icon
                              class="ant-input-password-icon"
                              [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                              (click)="passwordVisible = !passwordVisible"
                          ></span>
                          </ng-template>

                <!-- Confirmed Password -->
                          <nz-form-label [nzSm]="15" [nzXs]="24" nzFor="confirmedPassword" nzRequired>Confirm Password</nz-form-label>
                          <nz-form-item>
                                
                              <nz-form-control nzErrorTip="Please Input your Confirm-Password ...">
                                      <nz-input-group [nzSuffix]="suffixTemplate" nzErrorTip="Confirmed Password Is Required ...">
                                          <input nz-input placeholder="Enter Password ..." formControlName="confirmedPassword" [type]="passwordVisible ? 'text' : 'password'"/>
                                      </nz-input-group>
                              </nz-form-control>
                          
                          </nz-form-item>
                              
                                  <ng-template #suffixTemplate>
                                  <span
                                      nz-icon
                                      class="ant-input-password-icon"
                                      [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                      (click)="passwordVisible = !passwordVisible"
                                  ></span>
                                  </ng-template>

                      
                  <br>
                  <button nz-button  class="login-form-button login-form-margin" [nzType]="'primary'" >Register</button>
                  <button nz-button (click)="resetForm($event)" class="login-form-button login-form-margin" [nzType]="'primary'">Reset</button>

                  <br>   Or <a routerLink="/login">Login now!</a>
          </form>
          
      </div>
  </div>

</div>
