

<form  class="search-form" >
  <input class="form-control me-2 " style="margin-top: 50px; width: 300px; background-image: url('searchicon.png');" name="search"  [(ngModel)]="search"  type="search" placeholder="Search by firstName or lastName ..." aria-label="Search">
</form><br>




  <table class="table table-striped table-responsive-md" style="text-align: center;">
    <thead >
    <tr >
  
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Options</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let emp of employees | search : search">
  
      <td >{{emp.firstName}}</td>
      <td >{{emp.lastName}}</td>
      <td>{{emp.email}}</td>
  
      <td >
        <button  (click)="updateEmployee(emp.id)" class="btn btn-sm btn-info">Update</button>
        <button  (click)="deleteEmployee(emp.id)" class="btn btn-sm btn-danger">Delete</button>
        <button  (click)="viewEmployee(emp.id)" class="btn btn-sm btn-info">View</button>
  
      </td>
  
    </tr>
  
    </tbody>
  </table>




<button  class="btn btn-danger btn-sm mb-3" (click)="logout()" >Add</button>

