

<form  class="search-form" >
  <input class="form-control me-2 " 
  style="margin-top: 50px; width: 300px; background-image: url('searchicon.png');" 
  name="search"  [(ngModel)]="search"  
  type="search" placeholder="Search by title or employee name ..." aria-label="Search">
</form>




<div class="container" style="margin-top: 50px; margin-left:90px">
       <div class="row">

            <div class="card col-sm-3" style="width: 16rem;" *ngFor="let task of listOfTasks | searchtask : search">
                <div class="card-body ">
                    <h6 class="card-title" >
                      <b style="color: brown; font-size: 15px;">Title : </b>
                          {{task.title}}
                    </h6>
                    <span class="card-subtitle mb-2 text-muted " >
                      <b style="color: brown;font-size: 15px;">Description : </b>
                      {{task.description}}
                    </span>
                    <hr>
                    <div style="font-size: 13px;">
                        <div class="task-info">
                            <span class="info-row" style="color: brown;"><b>Date : </b> </span>
                            <span class="info-value">{{task.date| date:'short'}}</span>
                        </div>
                    
                        <div class="task-info">
                            <span class="info-row" style="color: brown;"><b>Status : </b> </span>
                            <span class="info-value">{{task.status}}</span>
                        </div>

                        <div class="task-info">
                          <span class="info-row" style="color: brown;" ><b>Priority : </b> </span>
                          <span class="info-value">{{task.priority}}</span>
                      </div>
                
                        <div class="task-info">
                            <span class="info-row" style="color: brown;" ><b>Employee Name : </b> </span>
                            <span class="info-value">{{task.empName}}</span>
                        </div>
                    </div><hr>
                
                    <button routerLink="/admin/ViewTask/{{task.id}}" class="btn btn-sm btn-info" >View</button>
                    <button  type="submit" class="btn btn-sm btn-primary" routerLink="/admin/updateTask/{{task.id}}" >Update</button>
                    <button  type="submit" class="btn btn-sm btn-danger" (click)="delete(task.id)" >Delete</button>

                                      
                </div>
            </div>
        </div>

</div>


