<div class="bg" style="background-color: #e4e2e2;">
  <div class="parent">
      <div class="child">
          <div nz-row class="imgDiv">
              <h2 style="margin-left: 65px; color :#001529">LogIn</h2>
          </div>
              <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                 
                  <nz-form-item>
                     <nz-form-control  nzErrorTip="This is Not Valid Email ...">
                      <nz-input-group nzPrefixIcon="user">
                        <input nz-input   type="email" placeholder="Enter Email ..." formControlName="email"/>
                      </nz-input-group>
                  </nz-form-control>
                  </nz-form-item>

                  <nz-input-group [nzSuffix]="suffixTemplate" nzErrorTip="Please iput your password ...">
                    <input nz-input placeholder="Enter Password ..." formControlName="password" [type]="passwordVisible ? 'text' : 'password'"/>
                      
                  </nz-input-group><br>

              <ng-template #suffixTemplate>
                  <span
                    nz-icon
                    class="ant-input-password-icon"
                    [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                    (click)="passwordVisible = !passwordVisible"
                  ></span>
                </ng-template><br>


                 
                  <button nz-button  class="login-form-button login-form-margin" [nzType]="'primary'" [disabled]="validateForm.invalid" >Login</button>
                  <br> Or <a routerLink="/register">Register now!</a>
              </form>
          
      </div>
  </div>

</div>

